<!DOCTYPE html>
<html lang="{{ site.lang | default: "ja-JP" }}">
  <head>
    <meta charset="UTF-8">
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.home_url }}/bayoen-star/dailycarbuncle_kirbuncle.ico">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name"><a href="{{ site.lang_url }}/ja" style="color: #EEEEEE"><img src="{{ site.star_url }}/dailycarbuncle_kirbuncle.png" width="65px" style="vertical-align:middle; margin-left: 0.7rem; margin-right: 0.7rem"/>{{ site.title | default: site.github.repository_name }}-star</a></h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}: 'ばよえ~ん-スタ' 星ーカウンタ</h2>
    </header>

    <div class="language-header">
        <a href="{{ site.lang_url }}/ko" class="language-selector"><img src="https://img.icons8.com/office/48/000000/south-korea.png" class="language-logo"></a>  
        <a href="{{ site.lang_url }}/en" class="language-selector"><img src="https://img.icons8.com/office/48/000000/great-britain.png" class="language-logo"></a>
        <a href="{{ site.lang_url }}/ja" class="language-selector"><img src="https://img.icons8.com/office/48/000000/japan.png" class="language-logo"></a>
    </div>

    <div class="navigator">
      <a href="{{ site.lang_url }}/ja" class="btn">紹介</a>
      <a href="{{ site.lang_url }}/ja/download.html" class="btn">ダウンロード</a>
      <a href="{{ site.lang_url }}/ja/instruction.html" class="btn">機能/使用法</a>
      <a href="{{ site.lang_url }}/ja/streaming.html" class="btn">放送設定</a>
      <a href="https://github.com/bayoen/bayoen-star-exe/issues" class="btn" target="_blank">申告/建議 <img src="{{ site.home_url }}/GitHub-Mark-Light-32px.png" width="18px" style="vertical-align:middle; padding-bottom: 3px" alt="GitHub"/></a>
      <a href="{{ site.lang_url }}/ja/acknowledgement.html" class="btn">謝詞</a>
    </div>

    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
        <div class="language-footer">
            <a href="{{ site.lang_url }}/ko" class="language-selector"><img src="https://img.icons8.com/office/48/000000/south-korea.png" class="language-logo"></a>  
            <a href="{{ site.lang_url }}/en" class="language-selector"><img src="https://img.icons8.com/office/48/000000/great-britain.png" class="language-logo"></a>
            <a href="{{ site.lang_url }}/ja" class="language-selector"><img src="https://img.icons8.com/office/48/000000/japan.png" class="language-logo"></a>
        </div>
        <br/>
        <span class="site-footer-credits">This page is powered by <a href="https://twitch.tv/semirain">SemiRain</a></span>
        <span class="site-footer-credits"> and supported by <a href="https://pages.github.com">GitHub Pages</a>, <a href="https://github.com/pages-themes/cayman">Cayman the Jekyll theme</a> and <a href="https://dailycarbuncle.tumblr.com/">Get your Gu's</a>.</span>
      </footer>
    </main>
  </body>
</html>
